<configuration>
  <appSettings>
    <add key="dbAdress" value="\\mamasbogrim\\Maternityward.db"/>
    <add key="getRankByID" value="select * from ranks where rankID = {0}"/>
    <add key="getRoleByID" value="select * from roles where roleID = {0}"/>
    <add key="getRanksByRoleID" value="select rankID from RoleToRank where roleID = {0}"/>
    <add key="getEmployeeByID" value="select * from employee where employeeID = {0}"/>
    <add key="getCurrentMonthWorkingHours" value="SELECT sum(shiftLengthInHours) AS totalShiftLengthInHours FROM (Select Cast ((JulianDay(endTime) - JulianDay(startTime)) * 24 As Integer) as shiftLengthInHours from enteries where employeeID = {0} and endTime NOT NULL and strftime('%m',startTime) = strftime('%m',date('now')))"/>
  </appSettings>
</configuration>