<configuration>
  <appSettings>
    <!-- rank configurations -->
    <add key="commonEmployee" value="0" />
    <add key="highRankEmployee" value="5" />
    <add key="expertEmployee" value="30" />
    <add key="decisionMakingrEmployee" value="50" />
    <add key="manager" value="50" />
    <add key="managerWorkingHours" value="200" />
    <add key="toxinCleanerRisk" value="20" />
    <add key="classManagerRisk" value="100" />
    <!-- role configuration -->
    <add key="cleaner" value="commonEmployee"/>
    <add key="toxinCleaner" value="commonEmployee expertEmployee toxinCleanerRisk"/>
    <add key="masterCleaner" value="highRankEmployee"/>
    <add key="cleaner" value="commonEmployee"/>
    <add key="cleaner" value="commonEmployee"/>
  </appSettings>
</configuration>