<configuration>
  <connectionStrings>
    <add name="dbAdress" connectionString="Data Source=..\..\..\Maternityward.db"/>
  </connectionStrings>
  
  <appSettings>
    <add key="getRankByID" value="select * from ranks where rankID = {0}"/>
    <add key="getRoleByID" value="select * from roles where roleID = {0}"/>
    <add key="getRanksByRoleID" value="select rankID from RoleToRank where roleID = {0}"/>
    <add key="getEmployeeByID" value="select * from employee where employeeID = {0}"/>
    <add key="getCurrentMonthWorkingHours" 
         value="SELECT ifnull(sum(shiftLengthInHours), 0) AS totalShiftLengthInHours FROM 
         (Select Cast ((JulianDay(endTime) - JulianDay(startTime)) * 24 As Integer) as shiftLengthInHours 
         from enteries where employeeID = {0} 
         and endTime NOT NULL 
         and strftime('%Y',startTime) = strftime('%Y',date('now')) 
         and strftime('%m',startTime) = strftime('%m',date('now')))"/>
    <add key="loadEmployees" value="select employeeID from employee"/>
    <add key="isInShift" value="SELECT IIF(EXISTS(select employeeID from enteries where employeeID = {0} AND endTime is NULL), 1, 0 ) result;"/>
    <add key="startShift" value="INSERT INTO enteries (employeeID, startTime) VALUES ({0}, datetime('now' ,'localtime'));"/>
    <add key="finishShift" value="UPDATE enteries SET endTime = datetime('now', 'localtime') WHERE employeeID = {0} AND endTime IS NULL"/>
    <add key="newShift" value="INSERT INTO enteries (employeeID, startTime, endTime) VALUES ({0}, '{1}', '{2}')"/>
    <add key="getStartTime" value="select startTime from enteries where employeeID = {0} and endTime is NULL"/>
    <add key="getYearlyWorkingHours" value="SELECT DISTINCT strftime('%m',startTime) as month,
         ifnull(sum(Cast ((JulianDay(endTime) - JulianDay(startTime)) * 24 As Integer)), 0) as hours
         from enteries 
         WHERE employeeID = {0}
         and 
         strftime('%Y',startTime) = strftime('%Y',date('now'))
         GROUP BY
	          month"/>
  </appSettings>
</configuration>